/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  background-image: linear-gradient(360deg, black 5%, transparent 75%),url('../assets/vic-port.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  color: #E4D6B5;
  text-shadow: 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 26px;
}

h1 { 
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5ch;
  color: #E4D6B5;
  text-shadow: 1px 1px black, 1px 1px black, 1px 1px black;
}

h2 { 
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1ch;
  color: #fff;
  text-shadow: 1px 1px black, 1px 1px black, 1px 1px black;
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  border: solid #E6D6AB 3px ;
  max-width: 90%;
  margin: auto;
  margin-top: 30ch;
  border-left: none;
  border-right: none;
  /* mess wiht this */
  background-image: linear-gradient(360deg, #283048 10%, transparent 90%),url('assets/unnamed.png');
}


p {
  max-width: 50ch;
  color: white;
  padding: 3ch;
  font-size: 26px;
  text-shadow: 1px 1px black, 1px 1px black, 1px 1px black;
  font-weight: bold;

}

/* carousel */

.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

/* all the certifications */
.legal {
  margin-top: 20vh;
  margin-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* footer */

footer {
  background: linear-gradient(#000000, #434343);
  color: #fff;
  width: 100% ;
  padding: 2.5em;
  display: flex;  
}


ul {
  list-style-type: none;
  margin: auto;
  
}



a,
a:link,
a:focus,
a:active {
  text-decoration: none;
  color:white;
  border: #E6D6AB 3px solid;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bolder;
  transition: all .3s;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
  color:
  color: #fff;
  transform: scale(1.1);
}
/* try to get rid of the box around the instagram logo */
i:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.2);
}
.ig-logo{
  text-decoration: none;
  border: none;
  border-style: none;
  
}




/* form*/

.form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: solid #E6D6AB 3px;
  background: linear-gradient(#283048, #000000);
  height: 30vh;
  
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40ch;
  margin: auto;
  font-size: 25px;
  color: #fff;
  
  
}
.submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: min-content;
  
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}





/* gallery stuff to keep everything in groups of 3 in desktop */

.built { 
  padding: 1.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.built div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 400px; 
  margin: 1.5vw; 
  border: 3px solid #E6D6AB;
  padding: 2px;
  
}
.built div img { 
  width: 100%; 
  height: 500px; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}
/* see more gallery */
.more { 
  display: flex;
  justify-content: center;
  max-width: 24ch;
  margin: auto;
  padding-top: 30vh;
}

